<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <h1><%= @cocktail.name %></h1>
      <%= image_tag("https://source.unsplash.com/random?#{@cocktail.name}", size: 250) %>
        <p><% @cocktail.doses.each do |dose| %></p>
          <p><%= dose.ingredient.name %> - <%= dose.amount %> cl</p>
          <p><%= link_to "Delete #{dose.ingredient.name}", dose_path(dose), method: :delete %></p>
        <% end %>
      <br>
        <p><%= link_to 'add a dose', new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %></p>
        <p><%= link_to 'back to overview', cocktails_path, class: "btn btn-primary" %></p>
        <p><%= link_to 'Delete this cocktail', cocktail_path(@cocktail), method: :delete, class: "btn btn-primary" %></p>
    </div>
  </div>
</div>


